
* {
    font-family: 'Ubuntu', sans-serif;
}

.container {

    position: relative;
    width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}

@import 'base/variables';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/services';
@import 'blocks/clients';
@import 'blocks/team';
@import 'blocks/footer';
@import 'base/media';
