.main {
    min-height: 755px;
    &__title {
        font-weight: bold;
        font-size: 56px;
        color: #202020;
        margin-top: 100px;
        letter-spacing: 0.37px;

    }
    &__subtitle {
        display: block;
        width: 740px;
        font-style: normal;
        font-size: 32px;
        color: #4F4F4F;
        line-height: 51px;
        margin-bottom: 35px;
        margin-top: 25px;
    }
    &__btn{
        width: 235px;
        height: 60px;
        background: $main-color;
        border-radius: 10px;
        font-size: 24px;
        color: #FFFFFF;
        margin: 30px auto;

    }
}
