.team {
    min-height: 560px;
   
    &__line{
        position: relative;
        border-top: 0px solid #C2C2C2;
    }
    &__pagename {
        position: absolute;
        font-size: 14px;
        line-height: 16px;
        color: #C2C2C2;
        background-color: #fff;
        padding: 10px 15px;
        top: -78px;
    }
    &__wrapper {
        height: 420px;
        display: grid;
        grid-template: repeat(3, 33.33%) / repeat(3, 33.33%);
        grid-auto-rows: auto;
        margin-top: 60px;
        column-gap: 138px;

    }
    &__iteam {
        display: flex;
        align-items: center;
    }
    &__img{
        display: block;
        flex-basis: 100px;
        text-align: center;
        margin-right: 35px;    
    }
    &__name {
        display: inline;
        font-size: 28px;
        font-weight: bold;
        color: #202020;
        top:0;
    }
    &__position {
        display: block;
        font-size: 14px;
        color: #B2B2B2;
        margin-top: 10px;
        }
}